.img {
  &-hover {
    width: 200px;
    height: 150px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.25);
    border: 5px solid rgba(255, 255, 255, 0.4);
    position: relative;
    img{
      border-radius: 24px;
      width: auto;
      height: 100%;
    }
    .title {
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: #fff;
    }
  }
  &-icon{
  border-radius: 50% 50% 50% 0;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.25);
  border: 5px solid rgba(255, 255, 255, 0);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  }
}
.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 15%;
  margin: 71px 0px 0px -29px;
  transform: rotate3d(2, 2, 1, 45deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -9px 0 0 -15px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #d6d4d4;
  animation-delay: 1.1s;
}

.world {
  &-1 {
    position: absolute;
    bottom: 25%;
    right: 12%;
    .img-hover {
      left: 70%;
    }
  }
  &-2 {
    position: absolute;
    top: 10%;
    left: 43%;
  }
  &-3 {
    position: absolute;
    top: 40%;
    left: 42%;
  }
  &-4 {
    position: absolute;
    top: 15%;
    right: 30%;
  }
  &-5 {
    position: absolute;
    top: 17%;
    left: 16%;
  }

}


@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

// @media screen and (max-width: 768px) {
//   .img-hover {
//     display:none;
//   }
// }